<div class="relative rounded-2xl overflow-hidden shadow-md group hover:scale-[1.02] transition duration-300">

  {# IMAGE як тег <img> з класами #}
  {% if fields.field_upload_image.content %}
    <div class="w-full block">
        {{ fields.field_upload_image.content }}
    </div>
  {% else %}
    <div class="w-full aspect-[3/4] bg-gray-200 flex items-center justify-center text-sm text-gray-500">
      No image
    </div>
  {% endif %}


  {# TITLE #}
  <div class="absolute bottom-3 left-3">
    {% if fields.title.content %}
     <div class="inline-block bg-white text-black text-[20px] leading-tight px-4 py-2 rounded-xl shadow font-bold font-sans">
  {{ fields.title.content }}
</div>
    {% else %}
      <p class="text-red-400 text-sm">No title</p>
    {% endif %}
  </div>
</div>
