{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
{#
 * Custom styled version of views-view-fields.html.twig
#}

<div class="relative rounded-2xl overflow-hidden shadow-md group hover:scale-[1.02] transition duration-300">

  {# IMAGE #}
  {% if fields.field_foto.content %}
    <div class="w-full block">
        {{ fields.field_foto.content }}
    </div>
  {% else %}
    <div class="w-full aspect-[3/4] bg-gray-200 flex items-center justify-center text-sm text-gray-500">
      No image
    </div>
  {% endif %}


  {# TITLE #}
  <div class="absolute bottom-3 left-3">
    {% if fields.title.content %}
     <div class="inline-block bg-white text-black text-[20px] leading-tight px-4 py-2 rounded-xl shadow font-bold font-sans">
  {{ fields.title.content }}
</div>
    {% else %}
      <p class="text-red-400 text-sm">No title</p>
    {% endif %}
  </div>
  <div class="absolute top-3 right-3 flex gap-2">
  {% if fields.flag_like_location %}
    {{ fields.flag_like_location.content }}
  {% endif %}
  {% if fields.flag_done_location %}
    {{ fields.flag_done_location.content }}
  {% endif %}
</div>

</div>
